<h2>Dashboard</h2>
<div class="grid">
  <div>
    <article>
      <header>
        Recent tasks for the last 24 hours
      </header>
      {{#if recentTasks.length}}
        {{#each recentTasks}}
        <p><a href="{{this.pageUrl}}">{{this.name}} - {{this.addedAt}}</a></p>
        {{/each}}
      {{else}}
        <p style="text-align: center;">No tasks for the last 24 hours</p>
      {{/if}}
    </article>
    <article>
      <header>
        Recent tasks for the last 24 hours
      </header>
      {{#if longestSubtasks.length}}
        {{#each longestSubtasks}}
        <p><a href="{{this.pageUrl}}">{{this.name}} ({{this.duration}})</a></p>
        {{/each}}
      {{else}}
        <p style="text-align: center;">No tasks for the last 24 hours</p>
      {{/if}}
    </article>
  </div>
  <div>
    <article>
      <header>
        Sub tasks statuses distribution for the last 24 hours
      </header>
      <div class="grid">
        {{#if subTasksStats.total}}
        <div
          style="text-align: center; margin: auto;"
        ><canvas id="taskStatusesDistribution"></canvas></div>
        {{else}}
        <p style="text-align: center;">No tasks for the last 24 hours</p>
        {{/if}}
      </div>
    </article>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
  const taskStatusesDistribution = document.getElementById('taskStatusesDistribution');

  new Chart(taskStatusesDistribution, {
    type: 'pie',
    data: {
      labels: [
        'New ({{subTasksStats.new}})',
        'In progress ({{subTasksStats.inProgress}})',
        'Completed ({{subTasksStats.completed}})',
        'Failed ({{subTasksStats.failed}})',
      ],
      datasets: [{
        data: [
          {{subTasksStats.new}},
          {{subTasksStats.inProgress}},
          {{subTasksStats.completed}},
          {{subTasksStats.failed}},
        ],
        backgroundColor: [
          'rgb(82, 95, 122)',
          'rgb(60, 113, 247)',
          'rgb(0, 137, 90)',
          'rgb(217, 53, 38)',
        ]
      }]
    },
    options: {
      responsive: false,
      plugins: {
        legend: {
          position: 'right',
        },
      }
    },
  });
</script>
