<h2>Subtask</h2>
<div class="grid">
  <div>
    <h3>Subtask info</h3>
    <table>
      <tbody>
        <tr>
          <th scope="row"><strong>ID</strong></th>
          <td>{{subtask.subTaskId}}</td>
        </tr>
        <tr>
          <th scope="row"><strong>State</strong></th>
          <td>{{subtask.state}}</td>
        </tr>
        <tr>
          <th scope="row"><strong>Attempts</strong></th>
          <td>{{subtask.attempts}}</td>
        </tr>
        <tr>
          <th scope="row"><strong>Started At</strong></th>
          <td>{{subtask.startedAt}}</td>
        </tr>
        <tr>
          <th scope="row"><strong>Completed At</strong></th>
          <td>{{subtask.completedAt}}</td>
        </tr>
        <tr>
          <th scope="row"><strong>Failed At</strong></th>
          <td>{{subtask.failedAt}}</td>
        </tr>
      </tbody>
    </table>
    {{#if subtask.metadata.length}}
    <h4>Metadata</h4>
    <table>
      <tbody>
        {{#each subtask.metadata}}
        <tr>
          <th scope="row"><strong>{{this.key}}</strong></th>
          <td>{{this.value}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
    {{/if}}
  </div>
  <div>
    <h3>Points</h3>
    {{#each points}}
    <p>
      <details>
        <summary>
          <kbd style="background-color: {{this.eventColor}};">{{this.event}}</kbd>
          {{this.timestamp}}
          {{#if this.elapsed}}
          (Elapsed {{this.elapsed}}ms)
          {{/if}}
        </summary>
        <p>
        {{#if this.metadata}}
          <h6>Metadata</h6>
          <table>
            <tbody>
              {{#each this.metadata}}
              <tr>
                <th scope="row"><strong>{{this.key}}</strong></th>
                <td>{{this.value}}</td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        {{/if}}
        </p>
      </details>
    </p>
    {{/each}}
  </div>
</div>
