<h2>Task: {{task.name}}</h2>
<small>Task Id: {{task.taskId}}</small>
<br><small>Status: {{task.status.text}}</small>
<br><small>Added At: {{task.addedAt}}</small>
{{#if task.completedAt}}
  <br><small>Complete At: {{task.completeAt}}</small>
{{/if}}
<div style="height: 250px;">
  <canvas id="statusesDistribution"></canvas>
</div>
{{#if task.metadata.length}}
<h4>Metadata</h4>
<table>
  <tbody>
    {{#each task.metadata}}
    <tr>
      <th scope="row"><strong>{{this.key}}</strong></th>
      <td>{{this.value}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>
{{/if}}
<h3>Subtasks</h3>
<table>
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">State</th>
      <th scope="col">Attempts count</th>
      <th scope="col">Duration</th>
      <th scope="col">Started At</th>
      <th scope="col">Completed At</th>
      <th scope="col">Failed At</th>
      {{#if showActionsColumn}}
      <th scope="col">Actions</th>
      {{/if}}
    </tr>
  </thead>
  <tbody>
    {{#each subtasks}}
    <tr>
      <th scope="row"><a href="{{this.pageUrl}}">{{this.name}}</a></th>
      <th><kbd style="background-color: {{this.stateColor}};">{{this.state}}</kbd></th>
      <td>{{this.attempts}}</td>
      <td>{{this.duration}}</td>
      <td>{{this.startedAt}}</td>
      <td>{{this.completedAt}}</td>
      <td>{{this.failedAt}}</td>
      {{#if showActionsColumn}}
      <td scope="col">
        <form method="post" action="{{retryActionValue}}">
          <input type="submit" value="Retry">
        </form>
      </td>
      {{/if}}
    </tr>
    {{/each}}
  </tbody>
</table>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
  const taskStatusesDistribution = document.getElementById('statusesDistribution');
  const data = JSON.parse('{{{statusesDistribution}}}');

  new Chart(taskStatusesDistribution, {
    type: 'bar',
    data,
    options: {
      plugins: {
      },
      responsive: true,
      maintainAspectRatio: false,
      scales: {
        x: {
          stacked: true,
        },
        y: {
          stacked: true,
          ticks: {
            precision: 0
          }
        }
      }
    }
  });

</script>
