<h2>Tasks</h2>
<table>
  <thead>
    <tr>
      <th>Name</th>
      {{#each tasksMetadataColumns}}
      <th scope="col">{{this.key}}</th>
      {{/each}}
      <th scope="col">Added At</th>
      <th scope="col">Completed At</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    {{!-- <tr>
      <th scope="row"></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th>
        <select>
          <option>All</option>
          <option>Waiting</option>
          <option>Completed</option>
        </select>
      </th>
    </tr> --}}
    {{#each tasks}}
    <tr>
      <th scope="row"><a href="{{this.pageUrl}}">{{this.name}}</a></th>
      {{#each this.metadata}}
      <th scope="col">{{this}}</th>
      {{/each}}
      <td>{{this.addedAt}}</td>
      <td>{{this.completeAt}}</td>
      <td>
        {{#if this.complete }}
        <kbd style="background-color: {{this.completedColor}};">Completed</kbd>
        {{else}}
        <kbd style="background-color: {{this.notCompletedColor}};">Waiting</kbd>
        {{/if}}
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
