<nav>
  <ul>
    <li><h2>Tasks</h2></li>
  </ul>
  <ul>
    <li>
      <button onclick="toggleDialog();">Filters</button>
    </li>
  </ul>
</nav>
<table>
  <thead>
    <tr>
      <th>Name</th>
      {{#each proceduralColumns}}
      <th scope="col">{{this.name}}</th>
      {{/each}}
      <th scope="col">Added At</th>
      <th scope="col">Completed At</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    {{#each tasks}}
    <tr>
      <th scope="row"><a href="{{this.pageUrl}}">{{this.name}}</a></th>
      {{#each this.metadata}}
      <th scope="col">{{{this}}}</th>
      {{/each}}
      <td>{{this.addedAt}}</td>
      <td>{{this.completeAt}}</td>
      <td>
        {{#if this.complete }}
        <kbd style="background-color: {{this.completedColor}};">Completed</kbd>
        {{else}}
          {{#if this.hasFailed}}
            <kbd style="background-color: {{this.failedColor}};">Have failed</kbd>
          {{else}}
            <kbd style="background-color: {{this.notCompletedColor}};">Waiting</kbd>
          {{/if}}
        {{/if}}
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
{{#unless tasks.length}}
<p>
  <h2>No tasks found by presented filters</h2>
</p>
{{/unless}}
<dialog>
  <article>
    <header>
      <button aria-label="Close" rel="prev" onclick="toggleDialog()"></button>
      <p>
        <strong>Tasks filters</strong>
      </p>
    </header>
    <form method="get">
      <p>
        <label for="query">
          <a href="#" data-placement="right" data-tooltip="You can use raw text or syntax like &quot;metadata.field&quot;:&quot;my value&quot;">Query</a>
          <input type="text" id="query" name="query" value="{{query.query}}" placeholder="Search query" />
        </label>
      </p>
      <p>
        <fieldset>
          <legend>Predefined periods</legend>
          <input type="radio" id="last_day" name="period" onclick="showCustomPeriod(false)" value="24h" {{#ifEquals query.period '24h'}}checked{{/ifEquals}} />
          <label htmlFor="last_day">Last 24 hours</label>
          <input type="radio" id="last_week" name="period" onclick="showCustomPeriod(false)" value="168h" {{#ifEquals query.period '168h'}}checked{{/ifEquals}} />
          <label htmlFor="last_week">Last week</label>
          <input type="radio" id="last_month" name="period" onclick="showCustomPeriod(false)" value="720h" {{#ifEquals query.period '720h'}}checked{{/ifEquals}} />
          <label htmlFor="last_month">Last month</label>
          <input type="radio" id="custom" name="period" onclick="showCustomPeriod(true)" value="custom" {{#ifEquals query.period 'custom'}}checked{{/ifEquals}} />
          <label htmlFor="custom">Custom</label>
        </fieldset>
        <fieldset id="select-custom-period" role="group" {{#ifEquals query.period 'custom'}}enabled{{else}}disabled{{/ifEquals}}>
          <legend>Period from/to</legend>
          <input type="datetime-local" name="period_from" aria-label="Datetime local" value="{{query.period_from}}" required>
          <input type="datetime-local" name="period_to" aria-label="Datetime local" value="{{query.period_to}}" required>
        </fieldset>
      </p>
      <p>
        <fieldset>
          <legend>Statuses:</legend>
          <input type="checkbox" id="ex_in_progress" name="ex_in_progress" {{#if query.ex_in_progress}}checked{{/if}} />
          <label htmlFor="ex_in_progress">Exclude Waiting</label>
          <input type="checkbox" id="ex_completed" name="ex_completed" {{#if query.ex_completed}}checked{{/if}} />
          <label htmlFor="ex_completed">Exclude Completed</label>
          <input type="checkbox" id="ex_failed" name="ex_failed" {{#if query.ex_failed}}checked{{/if}} />
          <label htmlFor="ex_failed">Exclude Have failed</label>
        </fieldset>
      </p>
      <input type="submit" value="Apply filters"/>
    </form>
  </article>
</dialog>
<script lang="javascript">
  function toggleDialog() {
    const dialog = document.querySelector('dialog');
    const isOpen = dialog.attributes.getNamedItem('open');

    if (isOpen) {
      dialog.removeAttribute('open');
    } else {
      dialog.setAttribute('open', '');
    }
  }

  function showCustomPeriod(show) {
    const selectCustomPeriod = document.querySelector('#select-custom-period');

    if (show) {
      selectCustomPeriod.removeAttribute('disabled');
    } else {
      selectCustomPeriod.setAttribute('disabled', '');
    }
  }
</script>
